<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.timer">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
            android:name=".se_util.App"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".proc.ProcExceedActivity"
                android:launchMode="singleTask"
                android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
                android:name=".proc.ProcEndActivity"
                android:theme="@style/Theme.Design.Light.NoActionBar"
                android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
                android:name=".main.MainActivity"
                android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".proc.ProcActivity"
                android:launchMode="singleTask"
                android:theme="@style/Theme.Design.Light.NoActionBar" />

        <service
                android:name=".proc.ProcService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="PROC_RESTART" />
                <action android:name="PROC_PAUSE" />
                <action android:name="PROC_STOP" />
                <action android:name="PROC_REMAIN_SEC" />
                <action android:name="PROC_ROUND" />
                <action android:name="PROC_REPEAT" />
            </intent-filter>
        </service>

        <service
                android:name=".proc.ProcExceedService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="EXCEED_RESTART" />
                <action android:name="EXCEED_PAUSE" />
                <action android:name="EXCEED_STOP" />
            </intent-filter>
        </service>
    </application>

</manifest>